<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartParkr - All Registered Users</title>
    <link rel="stylesheet" href="../static/css/admin_all_users.css">
    
</head>

<body>
    {% include 'admin_navbar.html' %}
    {% block content %}{% endblock %}
    <h1>Registed Users</h1>

    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Email</th>
                    <th>Full Name</th>
                    <th>Address</th>
                    <th>Pincode</th>
                </tr>
            </thead>
            <tbody>
                {% for user in data%}
                <tr>
                    <td>{{user[0]}}</td>
                    <td>{{user[1]}}</td>
                    <td>{{user[2]}}</td>
                    <td>{{user[3]}}</td>
                    <td>{{user[4]}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>